@import "tailwindcss";

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-nunito), sans-serif !important;
}

p, a {
  font-family: var(--font-pt-sans), sans-serif !important;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
